.header-nt {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  font-family: "Jaro", sans-serif;
}

.ace-img {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 0;
  z-index: 4;
  animation: spin 2s linear infinite;
  transform-origin: center;
  backface-visibility: hidden; /* Prevents flickering */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.h-text {
  display: flex;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.deck {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  top: -6rem;
}

.card-non-tech {
  display: flex;
  padding: 5px;
  flex-direction: column;
  background-color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 100%;
  width: 70%;
  height: 20rem;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.card-1 {
  top: 18rem;
  transform: rotateZ(-5deg);
  z-index: 3;
}

.card-2 {
  top: -9.3rem;
  transform: rotateZ(10deg);
  z-index: 2;
}

.card-3 {
  top: -33.6rem;
  /* transform: rotateZ(-10deg); */
  transform: rotateZ(24deg);
  z-index: 1;
}

.black {
  border: 2px solid black;
  color: black;
}

.red {
  border: 2px solid red;
  color: red;
}

.card-symbol {
  height: 1.5rem;
  width: 1.5rem;
}

.card-header {
  font-family: "Russo One", sans-serif;
  /* height: 75px; */
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: center;
}

.card-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}

.card-no {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-footer {
  width: 100%;
  display: flex;
  height: 3rem;
}

.sym-top,
.sym-btm {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sym-top {
  top: 2px;
  left: 7px;
}

.sym-btm {
  bottom: 2px;
  right: 7px;
  rotate: 180deg;
}

#non-tech {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden !important;
}

.img-1 {
  right: 10px;
}
.img-2 {
  left: 10px;
}

.bg-coin {
  /* /* position: absolute; */
  height: 10rem;
  width: 10rem;
  right: 0rem;
  bottom: -4rem;
  z-index: -4;
  position: absolute;
}

/* html{
  overflow: hidden !important;
} */

.bg-deck {
  position: absolute;
  height: 20rem;
  width: 20rem;
  left: -10rem;
  top: 30rem;
  transform: rotateY(180deg);
  z-index: -4;
}
