.card-div{
  height: 300px;
}

.events  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  flex-wrap: wrap;
}

.event-card {
  width: 250px;
  height: 400px;
  background: white;
  border: 2px solid rgb(255, 0, 0);
  color: red;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px; 
  box-sizing: border-box; 
  opacity: 0; /* Ensure the element is initially hidden */
  animation: fadeIn 1s ease-out forwards; /* Apply the animation */
}

@media (min-width: 1024px) {
  .events {
    flex-direction: row;
    justify-content: center;
    align-items: center; 
  }

  .event-card {
    width: 300px;
    height: 450px;
  }
}


.card-top,
.card-bottom {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

.card-top {
  top: 10px;
  left: 10px;
  text-align: left;
}

.card-bottom {
  bottom: 10px;
  right: 10px;
  text-align: right;
  transform: rotate(180deg); /* Rotates the bottom corner */
}

.event-card-inside {
  width: 80%;
  height: 100%;
  margin: 10px 0px;
  border: 0.1px solid rgba(255, 0, 0, 0.797);
  background: rgba(211, 211, 211, 0.237);
  border-radius: 8px;
}

.event-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  padding: 0; /* Removed padding to eliminate extra space */
  overflow: hidden;
}

.event-top img {
  width: 100%; /* Ensures it fills the container */
  height: 100%;
  object-fit: cover; /* Crops to fit the space without gray areas */
  border-radius: 5px;
}
.event-details {
  height: 40%;
  padding: 8px;
  font-size: 14px;
  text-align: justify;
  color: #ff0000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
}

.event-details p {
  font-weight: 600;
  margin-bottom: 10px; /* Adds spacing between text and button */
}
.event-details h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}

.event-details button {
  border: none;
  padding: 7px 25px;
  background-color: red;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.event-details button:hover {
  background-color: #af0000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-animation {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}
