.h1-tag h1 {
  font-family: "Inter", serif;
  font-size: 34px;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.card-wrapper {
  position: absolute;
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
