.technical-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.technical-container h1 {
  font-family: "Inter", serif;
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
  color: #fff;
}
